<div
  class="p-5 mb-4 bg-light rounded-3"
>
  <div
    class="container-fluid py-5"
    *ngIf="router.url === '/new-enquiry'"
  >
    <h1
      class="display-4 fw-bold"
    >
      {{titleNewEnquiry}}
    </h1>
    <p
      class="col-md-12 fs-4"
    >
      Search everywhere for availability
    </p>
  </div>
  <div
    class="container-fluid py-5"
    *ngIf="router.url === '/new-enquiry-area'"
  >
    <h1
      class="display-4 fw-bold"
    >
      {{titleNewEnquiryArea}}
    </h1>
    <p
      class="col-md-12 fs-4"
    >
      Search in a specific area for availability
    </p>
  </div>
  <div
    class="container-fluid py-5"
    *ngIf="router.url === '/new-enquiry-city'"
  >
    <h1
      class="display-4 fw-bold"
    >
      {{titleNewEnquiryCity}}
    </h1>
    <p
      class="col-md-12 fs-4"
    >
      Search in a specific city for availability
    </p>
  </div>
  <div
    class="container-fluid py-5"
    *ngIf="router.url === '/new-enquiry-property'"
  >
    <h1
      class="display-4 fw-bold"
    >
      {{titleNewEnquiryProperty}}
    </h1>
    <p
      class="col-md-12 fs-4"
    >
      Search in a specific property for availability
    </p>
  </div>
</div>

<div class="container">
  <app-new-enquiry-form></app-new-enquiry-form>
</div>

<div class="container">
  <app-enquiry-results></app-enquiry-results>
</div>
